{% extends './_layout.twig' %}

{% set title = 'Homepage' %}

{% block content %}
    <main>
        {# SECTION RESEARCH #}
        {#<section id="search-section" class="section">#}
            {#<div class="container">#}
                {#<div class="columns background bdr is-tertiary">#}
                    {#<div class="column">#}
                        {#<div class="level">#}
                            {#<div class="level-item">#}
                                {#<h1 class="text ft-1 is-white title is-size-5-desktop is-size-4-tablet is-size-5-mobile">#}
                                    {#Rechercher une définition#}
                                {#</h1>#}
                            {#</div>#}
                        {#</div>#}
                        {#<form action="/">#}
                            {#<div class="level">#}
                                {#<div class="level-item p-rel">#}
                                    {#<span class="input-custom input-custom__search input--hoshi over-hide">#}
                                        {#<input id="input-search"#}
                                               {#class="input__field input__field--hoshi text is-white is-size-6"#}
                                               {#type="text"/>#}
                                        {#<label for="input-search"#}
                                               {#class="input__label input__label--hoshi input__label--hoshi-color-1">#}
                                            {#<span class="input__label-content input__label-content--hoshi text ft-1 is-white">Rechercher</span>#}
                                        {#</label>#}
                                    {#</span>#}
                                    {#<button type="submit" class="icon-small icon-small__white icon-search">#}
                                        {#<span class="dblock"></span>#}
                                    {#</button>#}
                                {#</div>#}
                            {#</div>#}
                        {#</form>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</section>#}
        {# SECTION DEFINITION OF THE DAY #}
        {% if recentword is defined %}
        <section class="section pd-t1">
            <div class="container">
                <div class="columns title__underlined">
                    <div class="column pd0">
                        <div class="level">
                            <h2 class="text ft-1 is-tertiary title is-size-5-desktop is-size-4-tablet is-size-5-mobile has-text-left">
                                Définition du jour
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="columns title__word-title is-vcentered pd-t2">
                    <div class="column pd0">
                        <div class="level is-mobile">
                            <div class="level-left">
                                <a href="/definition?word={{ recentword.name }}">
                                    <h3 class="title">
                                        <p class="word-definiton is-hidden">{{ recentword.name }}</p>
                                        <span id="wordFirst" class="text ft-3 is-size-1 is-primary is-uppercase"></span>
                                        <span id="wordSecond" class="text ft-2 is-secondary"></span>
                                    </h3>
                                </a>
                            </div>
                            <div class="level-right">
                                <div class="icon-small icon-small__secondary icon-pen mg-r1">
                                    <span class="dblock"></span>
                                </div>
                                <div class="icon-small icon-small__secondary icon-bookmark">
                                    <span class="dblock"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="columns post pd-t3">
                        <div class="column pd0">
                            <div class="level post__author">
                                <div class="level-left text ft-1">
                                    <span>Posted by</span>
                                    <span class="bold text is-primary is-capitalized">{{ recentword.firstname }} {{ recentword.lastname }}</span>
                                </div>
                            </div>
                            <div class="level post__content text ft-2">
                                <p>{{ recentword.definition }}</p>
                            </div>
                            <div class="level">
                                <div class="level-left">
                                    <button class="button button__action button__action__like active bdr pd-l2 pd-r2 mg-r1">
                                        <span class="button__action__number text ft-1 ">12</span>
                                        <span class="text ft-1">Likes</span>
                                    </button>
                                    <button class="button button__action button__action__dislike bdr pd-l2 pd-r2">
                                        <span class="button__action__number text ft-1 ">3</span>
                                        <span class="text ft-1">Likes</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
        {% endif %}
        {# SECTION WORD OF THE DAY #}
        <section class="section pd-t1">
            <div class="container">
                <div class="columns title__underlined">
                    <div class="column pd0">
                        <div class="level">
                            <h2 class="text ft-1 is-tertiary title is-size-5-desktop is-size-4-tablet is-size-5-mobile has-text-left">
                                Mots du jour
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column pd0">
                        <ul class="text ft-2 pd-t2">
                            {% for word in words %}
                                <li class="pd-b1">
                                    <div class="level is-mobile">
                                        <a href="/definition?word={{ word.name }}" class="level-left">
                                            <span class="text is-secondary is-capitalized">{{ word.name }}</span>
                                        </a>
                                        <div class="level-right">
                                            <a href="/write?word={{ word.name }}" class="icon-small icon-small__primary icon-pen mg-r1">
                                                <span class="dblock"></span>
                                            </a>
                                            <div class="icon-small icon-small__primary icon-bookmark icon-bookmark">
                                                <span class="dblock"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block customScript %}
    <script src="assets/js/templates/definition.js"></script>
{% endblock %}